.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  transition: width 0ms 450ms;
}
.modal-wrapper.active {
  width: 100vw !important;
  transition: width 0ms;
}
.modal-content {
  width: max(40vw, 240px);
  position: absolute;
  top: 0;
  left: -800px;
  transition: left 1500ms;
  z-index: 12;
  font-family: var(--ff-first);
  color: var(--fc-dark) !important;
}
.modal-content.active {
  left: 0px;
  transition: left 500ms;
}
.burger-nav-item:not(:last-child) {
  border-bottom: 1px solid var(--brdc-semi);
}
.burger-nav-item.active {
  background-color: rgb(208 218 228);
}
.modal-content button {
  color: var(--fc-dark) !important;
  font-family: var(--ff-first);
  font-size: 16px;
}
