.main-nav-item {
  line-height: normal;
}
.main-nav-item:hover:not(.active),
.dropDownHeader:not(.active) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--fc-light);
  text-underline-offset: 3px;
  margin-top: 5px;
}
.main-nav-item li {
  padding: 5px;
  border-top: 2px solid transparent !important;
  border-bottom: 2px solid transparent !important;
}
.main-nav-item.active li,
.header-dropdown.active {
  border-top: 2px solid var(--fc-light) !important;
  border-bottom: 2px solid var(--fc-light) !important;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  a[aria-current] li {
    /* background-color: var(--bgc-grey); */
    font-weight: 600 !important;
  }
}
ul.MuiList-root {
  padding-top: 0;
}
.MuiTypography-root {
  color: var(--fc-dark) !important;
  font-weight: 700 !important;
}
.MuiListItemIcon-root {
  min-width: 35px !important;
  color: var(--fc-alt) !important;
}
@media (max-width: 576px) {
}
/* header dropdown */
.dropdown-container {
  width: 150px;
  padding: 0 !important;
}
.dropdown-item.active {
  background-color: var(--fc-alt) !important;
}
header .header-dropdown,
.dropdown-item {
  font-family: var(--ff-first) !important;
  color: var(--fc-light) !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 700 !important;
}

.dropdownItem-container {
  /* padding: 0.5rem 0 !important; */
  padding: 0 !important;
}
.dropdownItem-container:not(:last-child) {
  border-bottom: 1px solid var(--brdc-semi);
}
.css-1ps6pg7-MuiPaper-root {
  box-shadow: none !important;
}
