.main-nav-item:hover:not(.active),
.dropDown:hover:not(.active) {
  text-decoration: underline;
  text-underline-offset: 4px !important;
  text-decoration-thickness: 2px;
}

.main-nav-item.active,
.dropDown.cursor-pointer.active {
  border-top: 3px solid var(--fc-light);
  border-bottom: 3px solid var(--fc-light);
}
.dropdown-container {
  transform-origin: top;
  transform: rotateX(90deg);
  transition: all 0.2s ease-out;
}
.dropdown-container.active {
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 0.2s ease-out;
}
.dropdown-item {
  letter-spacing: 1.2px;
  font-weight: 700;
}

.dropdown-item.active {
  background-color: rgb(208 218 228);
  color: var(--fc-dark);
}
