@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald.ttf") format("opentype");
}
@font-face {
  font-family: "Prata";
  src: url("./assets/fonts/Prata/Prata-Regular.ttf") format("opentype");
}

:root {
  --bgc-light: rgb(255, 255, 255);
  --bgc-light-grey: rgba(230, 242, 245);
  --bgc-grey: #ffdd86;
  --bgc-dark: #04667a;
  --bgc-gold: gold;

  --brdc-light: rgb(255, 255, 255);
  --brdc-semi: #5e6d7a;
  --brdc-dark: #0c4a6e;

  --fc-light: #fcfcee;
  --fc-dark: #474a51;
  --fc-alt: #c0000a;

  --color-active: #05a6c6;

  --ff-first: "Oswald";
  --ff-second: "Prata";
}

body {
  font-family: var(--ff-first);
  color: var(--fc-dark);
  user-select: none;
  /* background: center / auto repeat url(./assets/images/bg-fill.jpg); */
}

* {
  border-color: var(--brdc-semi);
}
a {
  cursor: pointer;
  font-weight: 500;
}

h5 {
  font-size: calc(28px + 4 * ((100vw - 320px) / (1280 - 320))) !important;
  line-height: 30px !important;
  /* color: #b7350e; */
}

/* About */
.about {
  /* text-indent: 25px; */
  text-align: justify;
}
.about a:hover {
  text-decoration: underline;
}
