@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald/Oswald.ttf") format("opentype");
}

:root {
  --bgc-light: #ece8e4;
  --bgc-dark: #b09f93;

  --fc-light: #f8f3ec;
  --fc-dark: #564535;

  --color-1: #ded8d8;
  --color-2: #a39f9b;

  --ff-first: "Oswald";
}

body {
  font-family: var(--ff-first);
  color: var(--fc-dark);
  user-select: none;
}

* {
  border-color: var(--brdc-semi);
}
a {
  cursor: pointer;
  font-weight: 500;
}

h5 {
  font-size: calc(28px + 4 * ((100vw - 320px) / (1280 - 320))) !important;
  line-height: 30px !important;
  /* color: #b7350e; */
}

/* About */
.about {
  /* text-indent: 25px; */
  text-align: justify;
}
.about a:hover {
  text-decoration: underline;
}
