.commerce {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  white-space: pre-line;
}
@media (max-width: 1024px) {
  .commerce {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .commerce {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .commerce {
    grid-template-columns: repeat(1, 1fr);
  }
}
